@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon.eot?f6fldz')
  src: url('../fonts/icomoon.eot?f6fldz#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?f6fldz') format('truetype'),
  url('../fonts/icomoon.woff?f6fldz') format('woff'),
  url('../fonts/icomoon.svg?f6fldz#icomoon') format('svg')
  font-weight: normal
  font-style: normal
[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-back
  &:before
    content: "\e902"

.icon-ddd
  &:before
    content: "\e903"
    color: #ddd

.icon-play
  &:before
    content: "\e906"

.icon-blue
  &:before
    content: "\e907"
    color: #1ba2ff

.icon-pause
  &:before
    content: "\e905"

.icon-LIVE
  &:before
    content: "\e904"
    color: #1ba2ff

.icon-back-listen
  &:before
    content: "\e900"

.icon-comment
  &:before
    content: "\e901"    




