@import "variable.styl"

html-font-size = 75px

@import "../../../node_modules/stylus-px2rem"
border-1px($color)
  position :relative
  &::after
  	display:block
  	position:absolute
  	left:0
  	bottom:0
  	width:100%
  	border-top:1px solid $color
  	content:' '

bg-image($url)
  background-image :url($url+"@2x.png")
  @media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3)
    background-image :url($url+"@3x.png")

font-dpr($font-size)
    font-size: $font-size;
    @media (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2)
        font-size: $font-size * 2;
    @media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3)
        font-size: $font-size * 3;

// 不换行
no-wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

// 扩展点击区域
extend-click()
  position: relative
  &:before
    content: ''
    position: absolute
    top: -10px
    left: -10px
    right: -10px
    bottom: -10px
