//高度定义规范
$channel-hd-height = 100px
$channel-tab-height = 100px
$channel-item-height = 240px

$items-hd-height = 100px
$items-audio-height = 300px
$items-items-title = 80px
$items-item-list = 100px
$items-date-height = 120px

$items-list-date-top = $items-hd-height + $items-audio-height + $items-items-title 
$items-list-wrap-top = $items-hd-height + $items-audio-height + $items-items-title + $items-date-height
$items-netRadioDesc-top =$items-hd-height + $items-audio-height 

//颜色定义规范
$color = #bebebe